---
export interface Props {
    projectTitle: string;
    summary: string;
    githubUrl: string;
    languages: Array<string>;
    url: string;
}

const { projectTitle, summary, githubUrl, languages, url } = Astro.props as Props;

let title = projectTitle.replaceAll('-', ' ').replaceAll('_', ' ');
---

<div class='container px-5 mx-auto animate-fade-left'>
    <div class='p-5 bg-white flex items-center mx-auto border-b mb-5 border-gray-200 rounded-lg sm:flex-row flex-col'>
        <div class='flex-grow sm:text-left text-center mt-6 sm:mt-0'>
            <h1 class='text-black text-2xl title-font font-bold mb-2 capitalize'>
                {title}
            </h1>
            <p class='leading-relaxed text-base font-semibold text-gray-800 animate-fade'>
                {summary}
            </p>
            <div class='py-4'>
                {
                    languages.map((lang) => (
                        <span class='m-2 justify-between items-center text-xs sm:text-sm rounded px-4 py-2 font-bold leading-loose inline-block bg-gradient-to-t from-amber-300 to-amber-200 text-slate-700 animate-fade'>
                            {lang}
                        </span>
                    ))
                }
            </div>
            {githubUrl === '' ? ('') : (
                <a href={githubUrl} target='_blank' class='mt-3 text-indigo-700 font-semibold inline-flex items-center animate-fade' rel='prefetch'
                    >Github
                    <svg
                        fill='none'
                        stroke='currentColor'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        stroke-width='2'
                        class='w-4 h-4 ml-2'
                        viewBox='0 0 24 24'
                    >
                        <path d='M5 12h14M12 5l7 7-7 7'></path>
                    </svg>
                </a>
            )}
            {
                url === '' ? (
                    ''
                ) : (
                    <a
                        href={url}
                        target='_blank'
                        class='mt-3 inline-flex items-center font-semibold ml-3 text-slate-700 animate-fade'
                        target='_blank'
                        rel='prefetch'
                    >
                        Live
                        <svg
                            fill='none'
                            stroke='currentColor'
                            stroke-linecap='round'
                            stroke-linejoin='round'
                            stroke-width='2'
                            class='w-4 h-4 ml-2'
                            viewBox='0 0 24 24'
                        >
                            <path d='M5 12h14M12 5l7 7-7 7' />
                        </svg>
                    </a>
                )
            }
        </div>
    </div>
</div>
