---
import Layout from "../layouts/Layout.astro";
import RotatingCard from "../layouts/RotatingCard.astro";
import Card from "../components/Project/Card.astro";

const properties = {
    title: "Projects",
    color: "#f8ca12",
};

const projectsData = Astro.locals;
const projects = projectsData.data;

---

<Layout title={properties.title}>
    <RotatingCard title={properties.title} color={properties.color}>
        <span class="my-8">
            {
                projects.map((project) => (
                    <Card
                        projectTitle={project.name}
                        summary={project.summary}
                        githubUrl={project.githubUrl}
                        languages={project.languages}
                        url={project.url}
                    />
                ))
            }
        </span>
    </RotatingCard>
</Layout>

<style></style>
