---
import Layout from "../layouts/Layout.astro";
import RotatingCard from "../layouts/RotatingCard.astro";
import Card from "../components/Project/Card.astro";
import json from '../../public/resume.json';

const projects = json.projects;
const properties = {
    title: "Projects",
    color: "#f8ca12",
};
---

<Layout title={"Utsav Deep | " + properties.title}>
    <RotatingCard title={properties.title} color={properties.color}>
        <span class="my-8">
            {
                projects.map((project) => (
                    <Card
                        projectTitle={project.name}
                        summary={project.description}
                        githubUrl={project.url}
                        languages={project.highlights}
                        url={project.live}
                    />
                ))
            }
        </span>
    </RotatingCard>
</Layout>

<style></style>
