---
import Layout from '../layouts/Layout.astro';
import RotatingCard from '../layouts/RotatingCard.astro';
import data from '../scripts/fetchData';

const properties = {
    title: 'Experience',
    color: '#bb2d4e',
};

const color = properties.color;
const monthNames = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December',
];

const workHistory = data.work;
---

<Layout title={properties.title}>
    <RotatingCard title={properties.title} color={properties.color}>
        <ol class='relative border-l border-gray-200 mx-8 my-12 text-left'>
            {
                workHistory.map((work) => (
                    <li class='mb-10 ml-4'>
                        <div class='absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border border-white dots' />
                        <time class='mb-1 text-sm 3xl:text-lg font-normal leading-none text-white'>
                            {monthNames[work.start.month - 1]}
                            {work.start.year} - {work.isCurrentRole ? 'Current' : monthNames[work.end.month - 1]}
                            {work.end.year}
                        </time>
                        <h3 class='text-2xl 3xl:text-3xl font-semibold text-[#bb2d4e] mt-4'>
                            {work.position} @{' '}
                            <a target='_blank' href={work.url}>
                                {work.company}
                            </a>{' '}
                            | {work.location}
                        </h3>
                        <p class='mb-4 text-base 3xl:text-lg font-normal text-gray-200'>{work.summary}</p>
                        <span class='text-lg 3xl:text-xl text-white font-semibold underline'>Highlights : </span>
                        <ul class='ml-8 list-disc text-slate-400'>
                            {work.highlights.map((highlight) => (
                                <li class='text-base 3xl:text-xl'>{highlight}</li>
                            ))}
                        </ul>
                    </li>
                ))
            }
        </ol>
    </RotatingCard>
</Layout>

<style define:vars={{ color }}>
    .dots {
        background-color: var(--color);
        border-color: var(--color);
    }
</style>
