---
import { github, twitter, email, linkedin } from '../icons/iconData';

const fillColor = '#666666';
---

<div class='flex sm:flex-row lg:flex-col-reverse align-middle justify-center text-center m-auto'>
    <a href='/contact' class='basis-1/4 m-6' rel='prefetch'>
        <svg xmlns='http://www.w3.org/2000/svg' class='w-12 h-12 md:w-16 md:h-16' viewBox='0 0 24 24' fill={fillColor}>
            <path d={email}></path>
        </svg>
    </a>
    <a href='https://twitter.com/utsavdeep01' rel='prefetch' class='basis-1/4 m-6' target='_blank'>
        <svg xmlns='http://www.w3.org/2000/svg' class='w-12 h-12 md:w-16 md:h-16' viewBox='0 0 24 24' fill={fillColor}>
            <path d={twitter}></path>
        </svg>
    </a>
    <a href='https://linkedin.com/in/utsavdeep' rel='prefetch' class='basis-1/4 m-6' target='_blank'>
        <svg xmlns='http://www.w3.org/2000/svg' class='w-12 h-12 md:w-16 md:h-16' viewBox='0 0 24 24' fill={fillColor}>
            <path d={linkedin}></path>
        </svg>
    </a>
    <a href='https://github.com/pinnheads' rel='prefetch' class='basis-1/4 m-6' target='_blank'>
        <svg xmlns='http://www.w3.org/2000/svg' class='w-12 h-12 md:w-16 md:h-16' viewBox='0 0 24 24' fill={fillColor}>
            <path d={github}></path>
        </svg>
    </a>
</div>

<style>
    svg:hover {
        fill: #dbe0e6;
    }
</style>
